@define-color bg    rgba(29,31,33,0.7);
@define-color fg    #c5c8c6;
@define-color wnd   #4d5057;
@define-color sel   #373b41;
@define-color red   #d54e53;
@define-color orange #e78c45;
@define-color ylw   #e7c547;
@define-color grn   #b9ca4a;
@define-color aqua  #70c0b1;
@define-color blu   #7aa6da;
@define-color mag   #c397d8;
@define-color transparent #00000000;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: bold;
    font-size: 16px;
}

#window {
    all: unset;
    background-color: @bg;
    color: @fg;
    border: none;
    border-radius: 10px;
}

#outer-box {
    padding: 10px;
}

#entry {
    background-color: transparent;
    outline: none;
    padding: 6px;
    border-radius: 10px;
}

#input:focus {
    box-shadow: none;
}

#input {
    color: @fg;
    background-color: transparent;
    border: 0;
    padding: 8px 12px;
    border-radius: 10px;
}

#text {
    color: @fg;
}

#text:selected {
    color: @grn;
}

#img {
    padding-right: 8px;
}
