@use "common/bases";
@use "common/properties";
@use "common/colors";
@use "lib";

entry {
  @include bases.textbox-base;
  @include properties.focusable;
  padding: 3px 6px;
  > progress {
    margin-top: 31px;
    margin-bottom: -7px;
    min-height:2px;
    min-width:2px;
    @include lib.highlight(colors.$success-color);
  }
}