@use "lib";
@use "common/colors/palette";
@use "common/colors/alphas";

$selection-color: lib.scale-alpha(palette.$blue,alphas.$primary-alpha);
$info-color: palette.$aqua;
$success-color: palette.$green;
$warning-color: palette.$yellow;
$critical-color: palette.$red;

$primary-accent-color: palette.$aqua;
$secondary-accent-color: palette.$orange;
$tertiary-accent-color: palette.$purple;