@use "lib";
@use "common/colors/palette";
@use "common/colors/alphas";
@use "sass:color";

$fg: palette.$white;
$disabled-fg: lib.scale-alpha($fg,alphas.$secondary-alpha);

$primary-bg: lib.scale-alpha(palette.$black,0.9);
$secondary-bg: lib.scale-alpha(palette.$dark-gray,0.5);
$tertiary-bg: lib.scale-alpha(palette.$black,0.3);
$disabled-bg: lib.scale-alpha(palette.$gray,0.3);

$separator-color: lib.scale-alpha(palette.$gray,0.1);
$contrast-border-color: lib.scale-alpha(palette.$gray,0.2);
$window-border-color: lib.scale-alpha(palette.$white,0.1);

$solid-window-border-color: mix($primary-bg,$window-border-color);