CompileFlags:
  Add:
    - -std=--branch
    - -fmodules
    - -fbuiltin-module-map
    - -isystem
    - /nix/store/qhnx0rx4qslkfr2y7j6xsp9ylalg0qby-compiler-rt-libc-21.1.7-dev/include
    - -isystem
    - /nix/store/k3qc3y1f6i8g2dgz5z0cf00dj4xc5rrv-gcc-14.3.0/include/c++/14.3.0
    - -isystem
    - /nix/store/k3qc3y1f6i8g2dgz5z0cf00dj4xc5rrv-gcc-14.3.0/include/c++/14.3.0/x86_64-unknown-linux-gnu
    - -isystem
    - /nix/store/c3mgva705alcgml9c4q0zg79gnv2l6x9-clang-wrapper-21.1.7/resource-root/include
    - -isystem
    - /nix/store/radp574lyk1l05lccg0i4hj4z1p3ig0m-glibc-2.40-218-dev/include
