/* =========================================================
 * Color palette
 * ======================================================= */

/*@define-color bg #1d1f21;*/
@define-color bg   rgba(29,31,33,0.7);
@define-color fg   #c5c8c6;
@define-color wnd  #4d5057;

@define-color red  #d54e53;
@define-color grn  #b9ca4a;
@define-color ylw  #e7c547;
@define-color blu  #7aa6da;
@define-color mag  #c397d8;
@define-color cyn  #70c0b1;


/* =========================================================
 * Global defaults
 * ========================================================= */

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: bold;
}


/* =========================================================
 * Waybar window
 * ========================================================= */

window#waybar {
    background-color: @bg;
    color: @fg;
    border-radius: 10px;
}


/* =========================================================
 * Module containers
 * ========================================================= */

.modules-left,
.modules-center,
.modules-right {
    background-color: transparent;
    border-radius: 10px;
    padding: 0 10px;
    transition: ease-in-out 0.2s;
}

.modules-center {
    font-size: 22px;
}

.modules-left,
.modules-right {
    font-size: 16px;
}

/* =========================================================
 * workspaces
 * ========================================================= */

#workspaces button {
    margin: 5px;
    padding: 0 7px;

    background: transparent;
    border: 0;
    border-radius: 10px;

    color: @fg;
    text-shadow: none;
    box-shadow: none;

    transition: ease-in-out 0.1s;
}

/* active workspace */
#workspaces button.active,
#workspaces button.empty.active {
    background-color: @grn;
    box-shadow: 0 0 2px @grn, 0 0 3px @grn;
    color: @bg;
}

/* empty workspace */
#workspaces button.empty {
    color: @wnd;
}

/* urgent workspace */
#workspaces button.urgent {
    background-color: @ylw;
    box-shadow: 0 0 2px @ylw, 0 0 3px @ylw;
    color: @bg;
}

/* =========================================================
 * common module styling
 * ========================================================= */

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    margin: 0 10px;
    color: @fg;
}


/* =========================================================
 * individual modules
 * ========================================================= */

#clock {
    color: @cyn;
    border-bottom: 4px solid @cyn;
}

#battery {
    color: @grn;
    border-bottom: 4px solid @mag;
}

#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#cpu {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#network {
    color: @blu;
    border-bottom: 4px solid @blu;
}

#network.disconnected {
    background-color: @red;
}

#tray {
    background-color: transparent;
}
