/* =========================================================
 * color palette
 * ======================================================= */

/*@define-color bg #1d1f21;*/
@define-color bg    rgba(29,31,33,0.7);
@define-color fg    #c5c8c6;
@define-color wnd   #4d5057;
@define-color sel   #373b41;
@define-color red   #d54e53;
@define-color org   #e78c45;
@define-color ylw   #e7c547;
@define-color grn   #b9ca4a;
@define-color aqu   #70c0b1;
@define-color blu   #7aa6da;
@define-color mag   #c397d8;


/* =========================================================
 * global defaults
 * ========================================================= */

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: bold;
}


/* =========================================================
 * waybar window
 * ========================================================= */

window#waybar {
    background-color: transparent;
    color: @fg;
    border-radius: 10px;
}




/* =========================================================
 * module containers
 * ========================================================= */

.modules-left,
.modules-center,
.modules-right {
    background-color: @bg;
    border-radius: 10px;
    padding: 0 0px;
    transition: ease-in-out 0.2s;
}

.modules-center {
    font-size: 22px;
}

.modules-left,
.modules-right {
    font-size: 18px;
}

/* =========================================================
 * workspaces
 * ========================================================= */

#workspaces button {
    box-shadow: 0 0 2px transparent, 0 0 1px transparent, 0 0 2px transparent;
    margin: 5px;
    padding: 0 7px;

    background: transparent;
    border: 0;
    border-radius: 5px;

    color: @fg;
    text-shadow: none;

    transition: ease-in-out 0.1s;
}

/* active workspace */
#workspaces button.active,
#workspaces button.empty.active {
    padding: 0 14px;
    background-color: @grn;
    box-shadow: 0 0 2px @grn, 0 0 1px @grn, 0 0 2px @grn;
    color:@bg;
}

/* empty workspace */
#workspaces button.empty {
    color: @wnd;
}

/* urgent workspace */
#workspaces button.urgent {
    background-color: @ylw;
    box-shadow: 0 0 2px @ylw, 0 0 1px @ylw, 0 0 2px @ylw;
    color: @bg;
}

/* =========================================================
 * common module styling
 * ========================================================= */

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray,
#window{
    margin: 5px;
    padding: 0 7px;
    border-radius: 5px;
    background-color:@bg;
}

/* =========================================================
 * individual modules
 * ========================================================= */

#clock {
    border:2px solid @blu;
    
    box-shadow:0 0 2px @blu, 0 0 1px @blu, 0 0 2px @blu;
}

#battery {
    border:2px solid @grn;
    box-shadow: 0 0 2px @grn, 0 0 1px @grn, 0 0 2px @grn;
}

#disk {
    border:2px solid @org;
    box-shadow: 0 0 2px @ylw, 0 0 1px @ylw, 0 0 2px @ylw;
}

#memory {
    border:2px solid @org;
    box-shadow: 0 0 2px @org, 0 0 1px @org, 0 0 2px @org;
}

#cpu {
    border:2px solid @aqu;
    box-shadow: 0 0 2px @aqu, 0 0 1px @aqu, 0 0 2px @aqu;
}

#network {
    border:2px solid @grn;
    box-shadow: 0 0 2px @grn, 0 0 1px @grn, 0 0 2px @grn;
}

#network.disconnected {
    border:2px solid transparent;
    box-shadow: 0 0 2px @red, 0 0 1px @red, 0 0 2px @red;
    background-color:@red;
    color:@bg;
}

#tray {
    margin-left:0px;
    background-color: transparent;
}

#window{
    background-color: transparent;
    color:@fg;
}

