@use "waybar/mixins";
@use "includes/common/colors";

@mixin meter-base {
    &.good { color: colors.$white; }
    &.warning { color: colors.$warning-color; }
    &.alert { color: colors.$alert-color; }
    &.critical { color: colors.$critical-color; }
}