@use "lib";

* {
  -GtkStatusbar-has-resize-grip: false;
  -GtkWindow-resize-grip-height: 0;
  -GtkWindow-resize-grip-width: 0;
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  background-color: transparent;
  border: none;
  border-style: solid;
  &.linked {
    @include lib.link;
  }
}