@use "common/bases";
@use "common/properties";
@use "common/parameters";
@use "common/colors";

switch {
  @include bases.textbox-base;
  @include properties.clickable;
  border-radius: parameters.$offset + 2 + parameters.$border-radius;
  > image, &:disabled > image {
    color:transparent;
  }
  padding: parameters.$offset;
  > slider {
    @include bases.button-base;
    @include properties.toggleable($off-color: colors.$red, $on-color: colors.$success-color);
    transition: parameters.$regular-duration ease-out;
    margin: 0px;
    min-width: 16px;
    min-height: 16px;
  }
}