@use "sass:list";
@use "common/bases";
@use "common/properties";
@use "common/parameters";
@use "lib";

notebook {
    @include bases.textbox-base;
    @each $direction in top bottom left right {
        header.#{$direction} {
            padding: parameters.$base-offset;
            @include bases.textbox-base;
            @include bases.pane-base($direction);
            > tabs {
                > arrow {
                    @include bases.button-base;
                    &.down { -gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }
                    &.up { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
                }
                > tab {
                    @include bases.button-base($style:flat);
                    @include properties.focusable;
                    > box > button {
                        @include bases.button-base;
                    }
                }
            }
        }
    }
}


