$font:          "JetBrainsMono NFP";
$h1:            17pt;
$h2:            14pt;
$h3:            11pt;

$offset:        3px;
$border-radius: 12px;
$round-corner: 9999px;

$short-duration: 0.05s;
$regular-duration: 0.1s;
$long-duration: 0.2s;