@use "lib";
@use "common/colors";
@use "common/properties";
@use "common/parameters";
@use "sass:math";

@mixin textbox-base($style: none) {
  @include properties.disabled($style);
  &, label { transition: parameters.$regular-duration ease-in-out; }
  border-radius: math.div(parameters.$border-radius,2);
  margin: math.div(parameters.$offset,2);
  @include lib.border(transparent);
  @if $style != flat {
    background: colors.$secondary-bg;
    @include lib.border(colors.$contrast-border-color);
  }
  &.flat {
    @include lib.border(transparent);
    background: transparent;
  }
}