@use "common/colors";
@use "common/parameters";
@use "lib";

@mixin scrollable-area($offset) {
    background: transparent;
    background-image: linear-gradient(
        to bottom,
        colors.$tertiary-bg 0%,
        transparent calc(0% + $offset),
        transparent calc(100% - $offset),
        colors.$tertiary-bg 100%
    );
}

@function overlay($lhs,$rhs) {
    @return mix($lhs,$rhs,50%);
}

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: parameters.$h3;
    font-weight: 900;
}

#window {
    background: transparent;
    > box {
        padding: 0px;
        > entry {
            padding: 6px;
            background: colors.$primary-bg;
            border: 3px solid colors.$window-border-color;
            border-radius: parameters.$base-border-radius;
            > image {
                margin-right: parameters.$base-offset * 2;
            }
        }
        > scrolledwindow {
            padding: 0px;
            margin: 3px;
            border-radius: parameters.$base-border-radius;
            border: 3px solid colors.$window-border-color;
            background: colors.$primary-bg;
            > viewport{
                margin: 0px;
                border: none;
                border-radius: 9px;
                @include scrollable-area(40px);
                flowboxchild {
                    border: none;
                    background: none;
                }
            }
        }
    }
}

