@use "sass:map";
@use "includes/common/colors";
@use "includes/common/bases";
@use "includes/common/parameters";
@use "includes/lib";


$size-map: (
    top: height,
    bottom: height,
    left: width,
    right: width
);

@each $direction in top bottom left right {
    scrollbar.#{$direction} {
        trough {
            margin: 0px;
            padding: 0px;
            border-radius: 7px;
            background: transparent;
            @include lib.border(transparent);
        }
        &:hover {
            trough {
                @include lib.border(colors.$contrast-border-color);
                background: colors.$tertiary-bg;
            }
            slider{
                border-radius: 3px;
                min-#{map.get($size-map,$direction)}: 4px;
            }
        }
        slider {
            @include bases.button-base($off-color:colors.$primary-accent-color);
            padding: 0px;
            min-width: 0px;
            min-height: 0px;
        }
    }
}