@use "sass:math";
@use "includes/common/colors";
@use "includes/common/parameters";
@use "includes/common/bases";
@use "includes/common/properties";
@use "includes/lib";

#window {
    background: none;
    > box {
        background: colors.$primary-bg;
        border: parameters.$bold-border-width solid colors.$window-border-color;
        border-radius: parameters.$base-border-radius;
        padding: 3px;
        > entry {
            border-width: parameters.$bold-border-width;
        }
        > scrolledwindow {
            > viewport {
                margin: 0px;
                border: none;
                @include bases.scrollable-area-base(40px);
                > box > flowbox {
                    > flowboxchild {
                        border: none;
                        background: none;
                        margin: 0px;
                        label {
                            padding: 0px;
                            margin: parameters.$base-offset * 3;
                        }
                        &:selected {
                            label {
                                font-weight: 900;
                                box-shadow: inset 0px -2px 0px 0px colors.$primary-accent-color;
                                color: colors.$primary-accent-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
