
// --- COLOR DEFINITIONS ---

$background:    "@[palette.background]";
$foreground:    "@[palette.foreground]";
$selection:     "@[palette.selection]";
$window:        "@[palette.window]";
$red:           "@[palette.red]";
$orange:        "@[palette.orange]";
$yellow:        "@[palette.yellow]";
$green:         "@[palette.green]";
$aqua:          "@[palette.aqua]";
$blue:          "@[palette.blue]";
$purple:        "@[palette.purple]";

$background-translucent: transparentize($background,0.3);
$background-clear: transparentize($background,0.7);

// --- MIXINS ---

@mixin glow-shadow($color: $foreground){
    box-shadow:
    0px 0px 2px $color, 
    0px 0px 2px $color,
    0px 0px 1px $color;
}

@mixin glow-outline($color: $foreground){
    @include glow-shadow($color);
    border: 2px solid $color;
}

// --- GLOBAL OVERRIDES ---

* {
    font-family: "JetBrainsMono NFP", monospace;
    font-weight: bold;
    font-size: 18px;
    text-shadow: none;
    background-color: transparent;
    transition: ease-in-out 0.2s;
    border: 0px;
}
window#waybar {
    background-color: $background-translucent;
    border-radius: 10px;
}

// --- MODULE CONTAINER STYLING ---

.modules-left,
.modules-center,

.modules-right {
    background-color: transparent;
    border-radius: 10px;
    padding: 0px 3px;
}

// --- WORKSPACE BUTTON STYLING ---

#workspaces {
    button {
        margin: 6px 3px;
        padding: 0px 6px;
        border-radius: 5px;
        background: transparent;
        @include glow-shadow(transparent);
        label{
            color: $foreground;
            font-size: 22px;
        }
    }

    button.empty,
    button.active,
    button.empty.active {
        label{
            color: $window;
        }
    }

    button.active,
    button.empty.active {
        @include glow-shadow($green);
        padding: 0px 16px;
        background: $green;
    }

    button.urgent {
        @include glow-shadow($yellow);
        padding: 0px 16px;
        background: $yellow;
        label{
            color: $window;
        }
    }
}

// --- MODULE STYLING ---

@mixin style-module($color){
    @include glow-outline($color);
    color: $color;
}

%module-base {
    @include style-module($foreground);
    margin: 6px 3px;
    padding: 0 6px;
    border-radius: 5px;
    background-color:$background-translucent;
}

// --- LEFT ---

// -- time and date information

#custom-clock {
    @extend %module-base;
    @include style-module($blue);
}

// -- network info

#network {
    @extend %module-base;
    @include style-module($green);
}

#network.disconnected {
    @include style-module($window);
}

// -- sound

#pulseaudio {
    @extend %module-base;
    @include style-module($purple);
}

// --- RIGHT ---

// -- app tray

#tray {
    @extend %module-base;
    margin: 6px;
    padding: 0px 3px;
    background-color: $background-clear;
    @include style-module($window);
    color: $foreground;
}

// -- cpu load

#cpu {
    @extend %module-base;
    @include style-module($aqua);
}

// -- available ram

#memory {
    @extend %module-base;
    @include style-module($orange);
}

// -- available storage space

#disk {
    @extend %module-base;
    @include style-module($yellow);
}

// -- battery charge percentage

#battery {
    @extend %module-base;
}

#battery.good,
#battery.charging {
    @include style-module($green);
}

#battery.warning {
    @include style-module($yellow);
}

#battery.critical {
    @include style-module($green);
}