@use "sass:math";
@use "sass:color";

$background:    "#[config.palette.background]";
$dark-gray:     "#[config.palette.selection]";
$gray:          "#[config.palette.window]";
$ligth-gray:    "#[config.palette.comment]";
$foreground:    "#[config.palette.foreground]";
$red:           "#[config.palette.red]";
$orange:        "#[config.palette.orange]";
$yellow:        "#[config.palette.yellow]";
$green:         "#[config.palette.green]";
$aqua:          "#[config.palette.aqua]";
$blue:          "#[config.palette.blue]";
$purple:        "#[config.palette.purple]";

$font:          "#[str|config.style.font.propo]";

$h1:            "#[suf(pt)|config.style.font.h1]";
$h2:            "#[suf(pt)|config.style.font.h2]";
$h3:            "#[suf(pt)|config.style.font.h3]";

$bg-opacity:    "#[config.style.background-opacity]";

$offset:        "#[suf(px)|config.style.external-offset]";
$border-radius: "#[suf(px)|config.style.border-radius]";

$bg-translucent: transparentize($background,1 - $bg-opacity);
$bg-clear: transparentize($background,0.7);
$bg-transparent: transparentize($background,1);


// --- MIXINS ---

@function compensate-alpha-layering($color, $n) {
  $a: color.alpha($color);
  @if $a <= 0 { @return $color; }
  @if $n <= 0 { @error "n must be > 0"; }
  $a-new: 1 - math.pow(1 - $a, math.div(1, $n));
  @return color.change($color, $alpha: $a-new);
}

@mixin glow-shadow($color) {
    $compensated: compensate-alpha-layering($color, 5);
    box-shadow:
    0px 0px 3px $compensated,
    0px 0px 2px $compensated,
    0px 0px 2px $compensated,
    0px 0px 1px $compensated,
    0px 0px 1px $compensated;
}

@mixin glow-outline($color: $foreground){
    @include glow-shadow($color);
    border: 2px solid $color;
}

// --- GLOBAL OVERRIDES ---

* {
    font-family: $font, monospace;
    font-weight: bold;
    font-size: $h2;
    text-shadow: none;
    transition: ease-in-out 0.2s;
    border: 0px;
}

// --- BAR STYLING ---

$fade-in: cubic-bezier(0.413,0.404,0.487,0.855);
$fade-out: cubic-bezier(0.513,0.145,0.587,0.596);

.modules-left,
.modules-center,
.modules-right {
    border-radius: $border-radius;
    padding: 0px $offset/2;
}

.modules-left,
.modules-center,
.modules-right {
    transition: background-color 0.2s $fade-out;
    background-color: $bg-transparent; // -- transparent
}

window#waybar {
    transition: background-color 0.2s $fade-in;
    background-color: $bg-translucent; // -- opaque
}

window#waybar {
    border-radius: $border-radius;
    &.empty,
    &.floating {
        transition: background-color 0.2s $fade-out;
        background-color: $bg-transparent; // -- transparent
        .modules-left,
        .modules-center,
        .modules-right {
            transition: background-color 0.2s $fade-in;
            background-color: $bg-translucent; // -- opaque
        }
    }
}

// --- WORKSPACE BUTTON STYLING ---

#workspaces {
    button {
        margin: $offset $offset/2;
        padding: 0px $offset;
        border-radius: 5px;
        background: transparent;
        @include glow-shadow(transparent);
        label{
            color: $foreground;
            font-size: $h1;
        }
        &.empty,
        &.active,
        &.empty.active,
        &.urgent {
            label{
                color: $gray;
            }
        }
        &.active,
        &.empty.active {
            @include glow-shadow($green);
            padding: 0px 16px;
            background: $green;
        }
        &.urgent {
            @include glow-shadow($yellow);
            padding: 0px 16px;
            background: $yellow;
        }
    }
}

// --- MODULE STYLING ---

%module-base {
    color: $foreground;
    margin: $offset $offset/2;
    padding: 0px $offset;
    border-radius: $border-radius - $offset;
    background-color:$bg-translucent;
    border: solid 2px $bg-transparent;
    &.good { color: $foreground; }
    &.warning { color: $yellow; }
    &.alert { color: $orange; }
    &.critical { color: $red; @include glow-outline($red); }
}

#battery,
#network,
#custom-clock,
#pulseaudio,
#tray,
#cpu,
#memory,
#disk {
    @extend %module-base;
}

#network {
    @include glow-outline($green);
    &.disconnected {
        @include glow-outline($gray);
        color:$ligth-gray;
    }
}

#tray {
    &.passive {
        color:$ligth-gray;
    }
    border: 0px;
    @include glow-shadow($bg-clear);
    background: $bg-clear;
    margin: $offset;
    padding: 0px $offset;
}

#window{
    background-color: $bg-transparent;
    color: $bg-transparent;
}


#disk { @include glow-outline($yellow); }
#memory { @include glow-outline($orange); }
#cpu { @include glow-outline($aqua); }
#battery { @include glow-outline($green); }
#pulseaudio { @include glow-outline($blue); }
#custom-clock { @include glow-outline($purple); }