@use "sass:math";
@use "sass:color";

$background:    "#[config.palette.background]";
$dark-gray:     "#[config.palette.selection]";
$gray:          "#[config.palette.window]";
$ligth-gray:    "#[config.palette.comment]";
$foreground:    "#[config.palette.foreground]";
$red:           "#[config.palette.red]";
$orange:        "#[config.palette.orange]";
$yellow:        "#[config.palette.yellow]";
$green:         "#[config.palette.green]";
$aqua:          "#[config.palette.aqua]";
$blue:          "#[config.palette.blue]";
$purple:        "#[config.palette.purple]";

$font:          "#[str|config.style.font.propo]";

$h1:            "#[suf(px)|config.style.font.h1]";
$h2:            "#[suf(px)|config.style.font.h2]";
$h3:            "#[suf(px)|config.style.font.h3]";

$bg-opacity:    "#[config.style.background-opacity]";

$offset:        "#[suf(px)|config.style.external-offset]";
$border-radius: "#[suf(px)|config.style.border-radius]";

$bg-translucent: transparentize($background,1 - $bg-opacity);
$bg-clear: transparentize($background,0.7);
$bg-transparent: transparentize($background,1);

//@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained-dark.css");


window {
    font-size: $h2;
    font-family: $font, monospace;
    background-color: $bg-translucent;
    color: $foreground;
    text-shadow: none;
}