@use "lib";
@use "common/parameters";
@use "common/colors";

progress {
    border-radius: parameters.$round-corner-radius;
    background: colors.$success-color;
    &:disabled {
        background: lib.scale-alpha(colors.$success-color,colors.$secondary-alpha);
    }
    min-width: 4px;
    min-height: 4px;
}