@use "module-base" as i1;
@use "mixins";
@use "common/colors";

@mixin meter-base($color){
    @include i1.module-base($color);
    &.good { color: colors.$white; }
    &.warning { color: colors.$yellow; }
    &.alert { color: colors.$orange; }
    &.critical { 
        color: colors.$red;
        @include mixins.module-highlight(colors.$red);
    }
}