@use "lib";
@use "common/parameters";

@mixin module-highlight($color){
    background: lib.scale-alpha($color,0.1);
    border-color: $color;
    border-style: solid;
    border-top-width: parameters.$bold-border-thickness;
    border-bottom-width: parameters.$bold-border-thickness;
}