$black:         "#[config.style.palette.black]";
$dark-gray:     "#[config.style.palette.dark-gray]";
$dim-gray:      "#[config.style.palette.dim-gray]";
$gray:          "#[config.style.palette.gray]";
$light-gray:    "#[config.style.palette.light-gray]";
$white:         "#[config.style.palette.white]";
$red:           "#[config.style.palette.red]";
$orange:        "#[config.style.palette.orange]";
$yellow:        "#[config.style.palette.yellow]";
$green:         "#[config.style.palette.green]";
$aqua:          "#[config.style.palette.aqua]";
$blue:          "#[config.style.palette.blue]";
$purple:        "#[config.style.palette.purple]";